  <header>
    <div class="" id="header-logo" style="margin-top:-20px">
      <a href="/lite/"><img src="/lite/img/logo-20150506.png" alt="<%=: '番組、萌え' | translate:locale %> - 大好きだよ" title="" height="105px"></a>
    </div>
    <div class="" id="header-login">
      <a href="/lite/bangumi/list" id="bangumi-list-btn"><i class="icon-clock2" style="vertical-align: middle;"></i><span style="margin-left:-15px;vertical-align: middle;"><%=: 'Bangumi List' | translate:locale %></span></a>
      <a href="/"><i class="icon-home"></i></a><!-- <a href="#"><i class="ox-iconfont">&#xf00ec;</i></a> --><a href="/rss/latest"><i class="icon-feed3"></i></a><a href="/lite/search"><i class="icon-search"></i></a></div>
  </header>
