  <header>
    <div class="" id="header-logo">
      <a href="/lite/"><img src="/lite/img/logo.jpg" alt="<%=: '番組、萌え' | translate:locale %> - 大好きだよ" title="" width="331px" height="67px"></a>
    </div>
    <div class="" id="header-login">
      <a href="/lite/bangumi/list" id="bangumi-list-btn"><i class="ox-iconfont" style="vertical-align: middle;">&#xf0132;</i><span style="margin-left:-15px;vertical-align: middle;"><%=: 'Bangumi List' | translate:locale %></span></a>
      <a href="/"><i class="ox-iconfont">&#xf012b;</i></a><a href="#"><i class="ox-iconfont">&#xf00ec;</i></a><a href="/rss/latest"><i class="ox-iconfont">&#xf01bc;</i></a><a href="/lite/search"><i class="ox-iconfont">&#xf012c;</i></a></div>
  </header>
