<% include common/header.html %>
<script type="text/javascript">
$(document).ready(function(){ 
    jQuery("h4").fitText(0.05, { minFontSize: '12px', maxFontSize: '26px' });;
}); 
</script>
</head>
<body>
    <% include common/header-nav.html %>
    <% if (currentbangumis) { %>
    <section class="content" id="bangumi">
        <% for (var i = 0; i < currentbangumis.weekDays.length; i++) {
            var wday = currentbangumis.weekDays[i];
            var bangumis = currentbangumis.bangumiList[i]; %>
        <h3><%= wday %></h3>  
        <div class="fix"></div>
        <% if (bangumis) { bangumis.forEach(function (bangumi) { %>
        <div class="bangumi-div">
            <div class="bgm-img"><img src="<%= bangumi.icon %>"></div>
            <div class="bgm-info">
                <h4><%= bangumi.name %></h4>
                <p class="production"><%= bangumi.credit %></p>
                <p class="on-air"><%= bangumi.startDate %></p>
                <!-- TODO: show working team
                <div class="tags">
                    <ul class="bgm-tag-ul">
                        <li class="bgm-tag-li">Leopard-Raws</li>
                    </ul>
                </div>
                -->
            </div>
        </div>
        <div class="fix"></div>
        <% }); } %>
        <% } %>
    </section>
    <% } %>
<% include common/footer.html %>