<% include common/header.html %>
<script type="text/javascript">
$(document).ready(function(){ 
    jQuery("h4").fitText(0.05, { minFontSize: '12px', maxFontSize: '26px' });;
}); 
</script>
</head>
<body>
    <% include common/header-nav.html %>
    <section class="content" id="bangumi">
        <h3>週日(日)</h3>  
        <div class="fix"></div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-1.jpg"></div>
                <div class="bgm-info">
                    <h4>旋轉少女</h4>
                    <p class="production">WIT STUDIO</p>
                    <p class="on-air">2015/01/11 02:55:00 - 2015/03/29 02:55:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-2.jpg"></div>
                <div class="bgm-info">
                    <h4>歌之☆王子殿下♪ 真愛 REVOLUTIONS</h4>
                    <p class="production">A-1 Pictures</p>
                    <p class="on-air">2015/04/05 02:00:00 - 2015/06/28 02:30:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="fix"></div>
        <h3>週一(月)</h3>  
        <div class="fix"></div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-1.jpg"></div>
                <div class="bgm-info">
                    <h4>旋轉少女</h4>
                    <p class="production">WIT STUDIO</p>
                    <p class="on-air">2015/01/11 02:55:00 - 2015/03/29 02:55:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-2.jpg"></div>
                <div class="bgm-info">
                    <h4>歌之☆王子殿下♪ 真愛 REVOLUTIONS</h4>
                    <p class="production">A-1 Pictures</p>
                    <p class="on-air">2015/04/05 02:00:00 - 2015/06/28 02:30:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="fix"></div>
        <h3>週二(火)</h3>  
        <div class="fix"></div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-1.jpg"></div>
                <div class="bgm-info">
                    <h4>旋轉少女</h4>
                    <p class="production">WIT STUDIO</p>
                    <p class="on-air">2015/01/11 02:55:00 - 2015/03/29 02:55:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-2.jpg"></div>
                <div class="bgm-info">
                    <h4>歌之☆王子殿下♪ 真愛 REVOLUTIONS</h4>
                    <p class="production">A-1 Pictures</p>
                    <p class="on-air">2015/04/05 02:00:00 - 2015/06/28 02:30:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-1.jpg"></div>
                <div class="bgm-info">
                    <h4>旋轉少女</h4>
                    <p class="production">WIT STUDIO</p>
                    <p class="on-air">2015/01/11 02:55:00 - 2015/03/29 02:55:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-2.jpg"></div>
                <div class="bgm-info">
                    <h4>歌之☆王子殿下♪ 真愛 REVOLUTIONS</h4>
                    <p class="production">A-1 Pictures</p>
                    <p class="on-air">2015/04/05 02:00:00 - 2015/06/28 02:30:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-1.jpg"></div>
                <div class="bgm-info">
                    <h4>旋轉少女</h4>
                    <p class="production">WIT STUDIO</p>
                    <p class="on-air">2015/01/11 02:55:00 - 2015/03/29 02:55:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-2.jpg"></div>
                <div class="bgm-info">
                    <h4>歌之☆王子殿下♪ 真愛 REVOLUTIONS</h4>
                    <p class="production">A-1 Pictures</p>
                    <p class="on-air">2015/04/05 02:00:00 - 2015/06/28 02:30:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="fix"></div>
        <h3>週三(水)</h3>  
        <div class="fix"></div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-1.jpg"></div>
                <div class="bgm-info">
                    <h4>旋轉少女</h4>
                    <p class="production">WIT STUDIO</p>
                    <p class="on-air">2015/01/11 02:55:00 - 2015/03/29 02:55:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-2.jpg"></div>
                <div class="bgm-info">
                    <h4>歌之☆王子殿下♪ 真愛 REVOLUTIONS</h4>
                    <p class="production">A-1 Pictures</p>
                    <p class="on-air">2015/04/05 02:00:00 - 2015/06/28 02:30:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="fix"></div>
        <h3>週四(木)</h3>  
        <div class="fix"></div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-1.jpg"></div>
                <div class="bgm-info">
                    <h4>旋轉少女</h4>
                    <p class="production">WIT STUDIO</p>
                    <p class="on-air">2015/01/11 02:55:00 - 2015/03/29 02:55:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-2.jpg"></div>
                <div class="bgm-info">
                    <h4>歌之☆王子殿下♪ 真愛 REVOLUTIONS</h4>
                    <p class="production">A-1 Pictures</p>
                    <p class="on-air">2015/04/05 02:00:00 - 2015/06/28 02:30:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="fix"></div>
        <h3>週五(金)</h3>  
        <div class="fix"></div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-1.jpg"></div>
                <div class="bgm-info">
                    <h4>旋轉少女</h4>
                    <p class="production">WIT STUDIO</p>
                    <p class="on-air">2015/01/11 02:55:00 - 2015/03/29 02:55:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-2.jpg"></div>
                <div class="bgm-info">
                    <h4>歌之☆王子殿下♪ 真愛 REVOLUTIONS</h4>
                    <p class="production">A-1 Pictures</p>
                    <p class="on-air">2015/04/05 02:00:00 - 2015/06/28 02:30:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="fix"></div>
        <h3>週六(土)</h3>  
        <div class="fix"></div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-1.jpg"></div>
                <div class="bgm-info">
                    <h4>旋轉少女</h4>
                    <p class="production">WIT STUDIO</p>
                    <p class="on-air">2015/01/11 02:55:00 - 2015/03/29 02:55:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bangumi-div">
                <div class="bgm-img"><img src="/lite/img/bgm-2.jpg"></div>
                <div class="bgm-info">
                    <h4>歌之☆王子殿下♪ 真愛 REVOLUTIONS</h4>
                    <p class="production">A-1 Pictures</p>
                    <p class="on-air">2015/04/05 02:00:00 - 2015/06/28 02:30:00</p>
                    <div class="tags">
                        <ul class="bgm-tag-ul">
                            <li class="bgm-tag-li">Leopard-Raws</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="fix"></div>
    </section>
<% include common/footer.html %>