<% include common/header.html %>
<!---
<script type="text/javascript">
$(document).ready(function(){
    $('.torrent-li').hover(function(){
    $(this).addClass('hover');
  },function(){
    $(this).removeClass('hover');
  });
});
</script>
-->
<script type="text/javascript" src="/lite/js/library.js?20150509185919"></script>
<script type="text/javascript">
    var cache = {
        tag: new Cache('tag'),
        team: new Cache('team'),
        user: new Cache('user')
    }, tags_container = '#keyword_tags', torrents_container = '#torrent_result', search = new Search();
    $(document).ready(function(){
        jQuery.support.cors = true;
        var tags = [];
        var m = location.hash.match(/([^\/]+)/g);
        if (m) {
          tags = m.pop().split('+');
          if (tags === '#tag') {
              //location.href = location.href + '/';
              tags = [];
          }
        }
        cache.tag.ready(tags);
        cache.tag.flush(function(){
            location.hash = location.hash.replace(/(.*)\/[^\/]*/, '$1/');
            if(tags.length == 0)
                return;
            for(var i = 0; i < tags.length; ++i)
                (cache.tag.get(tags[i]).addKeywords(tags_container))();
        });
        var load = ['popbangumi', 'common', 'team'];
        for(var i = 0; i < load.length; i++)
            $.getJSON('https://bangumi.moe/api/tag/' + load[i], function(result){
                for(var i = 0; i < result.length; ++i){
                    var tag = new Tag(result[i]);
                    cache.tag.set(tag);
                    $('#all_tags .' + tag.type).append(tag.html().click(tag.addKeywords(tags_container)));
                }
            });
        $('#keyword_text').change(function(){
            var keyword;
            if((keyword = $('#keyword_text').val()) == '')
                return;
            $.post('https://bangumi.moe/api/tag/search', JSON.stringify({
                keywords: true,
                multi: true,
                name: keyword
            }), function(result){
                if(result.success == false)
                    return;
                for(var i = 0; i < result.tag.length; ++i){
                    var tag = new Tag(result.tag[i]);
                    cache.tag.set(tag);
                    $('#tag_result').append(tag.html().click(tag.addKeywords(tags_container)));
                }
            });
        });
    });
</script>

<style type="text/css">
.tag {
  /*padding: 5px;*/
  display: inline-block;
}
.tag:hover {
  background-color: #3f3f3f;
  color: #ffffff;
  border-radius: 2px;
}

label:after {
  content: ":";
  padding-right: 5px;
}
</style>
</head>

<body>
  <% include common/header-nav.html %>

  <section class="content" id="search">
    <div style="vertical-align:middle">
      <h2 id="search-title"><%=: 'Search torrent' | translate:locale %></h2>
      <p class="tips-p" id="tips-p"><%=: 'Select tags or type to start search & create RSS filter' | translate:locale %></p>
      <div class="fix"></div>
    </div>
    <div id="search_tags">
      <input id="keyword_text" onfocus="if(value=='請在這裡輸入關鍵詞以找尋標籤…') {value=''}" onblur="if (value=='') {value='請在這裡輸入關鍵詞以找尋標籤…'}" value="請在這裡輸入關鍵詞以找尋標籤…">
      <p class="fix"><%=: 'Tags found:' | translate:locale %></p>
      <div class="tag_list" id="tag_result"></div>
    </div>
    <hr>
    <div id="tag-box">
      <div class="tag_list" id="all_tags">
        <div class="resolution"></div>
        <div class="format"></div>
        <div class="lang"></div>
        <div class="misc"></div>
        <div class="bangumi"></div>
        <div class="team"></div>
      </div>
      <hr>
      <!-- <p>已選擇標籤:</p> -->
      <div id="search_by_tags"><label><%=: 'Selected tags:' | translate:locale %></label><span id="keyword_tags"></span></div>
    </div>
    <h2><%=: 'Search results' | translate:locale %></h2>
    <div id="search-result">
      <div class="fix"></div>
      <ul class="torrents-ul torrent_list" id="torrent_result">
      </ul>
    </div>
    <section class="page-btn-section">
      <span class="page-btn prev">←上一页</span>
      <span class="page-btn next">下一页→</span>
    </section>
  </section>
<% include common/footer.html %>
